<div class="col-lg-12 pad">
    <button type="button" class="btn btn-sm" (click)="openPostModal(content)">ADD POST</button>
    <table class="table">
        <thead>
            <tr>
                <th>Post Title:</th>
                <th>Resort:</th>
                <th>Date:</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="posts.length > 0">
            <tr *ngFor="let post of posts">
                <td>{{post.title}}</td>
                <td>{{post.resort.name}}</td>
                <td>{{post.timeStamp.format("MMM-DD-YYYY HH:mm A")}}</td>
                <td> <span class="fa fa-edit" (click)="edit(content, post)"></span>
                    <span class="fa fa-trash" (click)="remove(post)"></span>
                </td>

            </tr>
        </tbody>
        <tbody *ngIf="posts.length === 0">
            <tr>
                <td colspan="4">
                    No posts
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <div class="form">
            <form class="login-form">
                <span class="flex-column">
                    <select name="resorts" class="custom-select" [(ngModel)]="post.resort">
                        <option *ngFor="let res of resorts" [ngValue]="res">{{res.name}}</option>
                    </select>
                <hr>
                    <input type="text" placeholder="post title" [(ngModel)]="post.title" name="postTitle" (keyup)="enableSubmit()" (blur)="enableSubmit()" />
                <hr>
                    <app-inline-editor [editorContent]="post.text" (inlineContent)="newContent($event)">
                    </app-inline-editor>
                </span>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-med" (click)="c('Close click')">Close</button>
        <button type="button" class="btn btn-med" [class.disabled]="!canSubmit" (click)="savePost(c)">Save</button>
    </div>
</ng-template>