<div class="col-lg-12 pad">
    <button type="button" class="btn btn-sm" (click)="openRateModal(content)">ADD RATING</button>
    <table class="table">
        <thead>
            <tr>
                <th>Resort:</th>
                <th>Overall:</th>
                <th>Terrain:</th>
                <th>Park:</th>
                <th>Staff:</th>
                <th>Fam Friendly:</th>
                <th>Crowd Control:</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="userRatings.length > 0">
            <tr *ngFor="let rating of userRatings">
                <td class="td-center">{{rating.resort.name}}</td>
                <td>
                    <app-rater [disabled]="true" [small]="true" [rating]="rating.ratings[1]?.rating"></app-rater>
                </td>
                <td>
                    <app-rater [disabled]="true" [small]="true" [rating]="rating.ratings[2]?.rating"></app-rater>
                </td>
                <td>
                    <app-rater [disabled]="true" [small]="true" [rating]="rating.ratings[3]?.rating"></app-rater>
                </td>
                <td>
                    <app-rater [disabled]="true" [small]="true" [rating]="rating.ratings[4]?.rating"></app-rater>
                </td>
                <td>
                    <app-rater [disabled]="true" [small]="true" [rating]="rating.ratings[5]?.rating"></app-rater>
                </td>
                <td>
                    <app-rater [disabled]="true" [small]="true" [rating]="rating.ratings[6]?.rating"></app-rater>
                </td>
                <td>
                    <div class="center">
                        <span class="fa fa-edit" (click)="edit(content, rating)"></span>
                        <span class="fa fa-trash" (click)="remove(rating)"></span>
                    </div>
                </td>

            </tr>
        </tbody>
        <tbody *ngIf="userRatings.length === 0">
            <tr>
                <td colspan="9">
                    No Ratings
                </td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <div class="form">
            <form class="login-form">
                <span class="flex-column">
                    <label for="resorts">Resort:</label>
                    <select name="resorts" class="custom-select" [(ngModel)]="rating.resort">
                        <option *ngFor="let res of resorts" [ngValue]="res">{{res.name}}</option>
                    </select>
                <hr>
                    <div>
                        <div class="ver-center">
                        Overall Rating:
                        </div>
                <app-rater [locked]="locked" [rating]="rating.ratings[1].rating" (newRating)="rating.ratings[1].rating = $event; enableSubmit()"></app-rater>
                </div>
                <textarea name="ratingReason" placeholder="Describe reason for your rating..." [(ngModel)]="rating.ratings[1].ratingReason"></textarea>
                <hr>
                <div>
                        <div class="ver-center">
                        Terrain Rating:
                        </div>
                        <app-rater [locked]="locked" [rating]="rating.ratings[2].rating" (newRating)="rating.ratings[2].rating = $event; enableSubmit()"></app-rater>
                    </div>
                <textarea name="ratingReason" placeholder="Describe reason for your rating..." [(ngModel)]="rating.ratings[2].ratingReason"></textarea>
                <hr>
                <div>
                        <div class="ver-center">
                        Park Rating:
                        </div>
                        <app-rater [locked]="locked" [rating]="rating.ratings[3].rating" (newRating)="rating.ratings[3].rating = $event; enableSubmit()"></app-rater>
                    </div>
                <textarea name="ratingReason" placeholder="Describe reason for your rating..." [(ngModel)]="rating.ratings[3].ratingReason"></textarea>
                <hr>
                <div>
                        <div class="ver-center">
                        Staff Rating:
                        </div>
                        <app-rater [locked]="locked" [rating]="rating.ratings[4].rating" (newRating)="rating.ratings[4].rating = $event; enableSubmit()"></app-rater>
                    </div>
                <textarea name="ratingReason" placeholder="Describe reason for your rating..." [(ngModel)]="rating.ratings[4].ratingReason"></textarea>
                <hr>
                <div>
                        <div class="ver-center">
                        Family-Freindly Rating:
                        </div>
                        <app-rater [locked]="locked" [rating]="rating.ratings[5].rating" (newRating)="rating.ratings[5].rating = $event; enableSubmit()"></app-rater>
                    </div>
                <textarea name="ratingReason" placeholder="Describe reason for your rating..." [(ngModel)]="rating.ratings[5].ratingReason"></textarea>
                <hr>
                <div>
                        <div class="ver-center">
                        Crowd-Control Rating:
                        </div>
                        <app-rater [locked]="locked" [rating]="rating.ratings[6].rating" (newRating)="rating.ratings[6].rating = $event; enableSubmit()"></app-rater>
                    </div>
                <textarea name="ratingReason" placeholder="Describe reason for your rating..." [(ngModel)]="rating.ratings[6].ratingReason"></textarea>
                <hr>
                </span>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-med" (click)="c('Close click')">Close</button>
        <button type="button" class="btn btn-med" [class.disabled]="!canSubmit" (click)="saveRating(c)">Save</button>
    </div>
</ng-template>