<div id="ratingContainer" class="rate" [class.disabled]="disabled" [class.locked]="locked" (mousemove)="moveMouse($event)" (click)="!disabled ? locked = !locked : locked; recordRate()">
    <div class="star">
        <img class="flake" [class.small]="small" [src]="rating >= 1 ? flakes[2] : rating >= 0 ? flakes[1] : flakes[0]">
    </div>
    <div class="star">
        <img class="flake" [class.small]="small" [src]="rating >= 3 ? flakes[2] : rating >= 2 ? flakes[1] : flakes[0]">
    </div>
    <div class="star">
        <img class="flake" [class.small]="small" [src]="rating >= 5 ? flakes[2] : rating >= 4 ? flakes[1] : flakes[0]">
    </div>
    <div class="star">
        <img class="flake" [class.small]="small" [src]="rating >= 7 ? flakes[2] : rating >= 6 ? flakes[1] : flakes[0]">
    </div>
    <div class="star">
        <img class="flake" [class.small]="small" [src]="rating >= 9 ? flakes[2] : rating >= 8 ? flakes[1] : flakes[0]">
    </div>
</div>