<div class="container offset-1" *ngIf="!user || !isAdmin">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-3">resort logo and Name</div>
                <div class="col-3">a href to website</div>
                <div class="col-3">a href to at a glance</div>
            </div>

        </div>
    </div>

    <div class="col-6 border-left">
        Where/When to buy tickets:
    </div>
    <hr>

    <app-skill-level></app-skill-level>

</div>