.navbar {
    height: 35px;
    margin-top: -35px;
    background: rgba(0, 0, 0, .3);
    max-width: 1920px;
}

.navbar-collapse {
    height: 35px;
}

.nav-item {
    height: 100%;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

.active {
    background: #C6A556;
}

.navbar-toggleable-sm {
    padding-left: 20%;
}

.bright.navbar-toggler {
    border-color: #C6A556;
    background: gray;
    cursor: pointer;
}

.bright .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(198,165,86, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='12' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    width: 10px;
    height: 10px;
}